#table-manage-user {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;

  .btn-edit {
    width: 40px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(252, 187, 66);

    &:hover {
      cursor: pointer;
      background-color: transparent !important;
      color: rgb(252, 187, 66);
    }
  }

  .btn-delete {
    width: 40px;
    border: none;
    outline: none;
    background: transparent;
    color: red;

    &:hover {
      cursor: pointer;
      background-color: transparent !important;
      color: red;
    }
  }
}

#table-manage-user td,
#table-manage-user th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-manage-user tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-manage-user tr:hover {
  background-color: #ddd;
}

#table-manage-user th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
