.all-clinic-container {
  .general-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
    margin: 0 auto;

    h1 {
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0;
    }

    .detail-all-clinic {
      display: flex;
      flex-direction: column;
      .text-view {
        color: rgba(0, 0, 0, 1);
        text-decoration: none;

        &:hover {
          opacity: 0.8;
          background-color: #ddd;
        }
      }

      .item-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid rgb(204, 204, 204);

        .img-clinic {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 105px;
          width: 200px;
        }
      }
    }
  }
}
