@import "../../../styles/mixins";

.detail-clinic {
  .clinic-container {
    .clinic-img {
      width: 100%;
      position: absolute;
      aspect-ratio: 4.8 / 1;
      margin-bottom: 60px;
      left: 0px;
      right: 0px;
      img {
        position: absolute;
        inset: 0px;
        aspect-ratio: 4.8 / 1;
        object-fit: cover;
        height: 100%;
        width: 100%;
        color: transparent;
        z-index: -5;
      }
    }

    .spacing {
      width: 100%;
      aspect-ratio: 7.2 / 1;
    }

    .title-clinic {
      box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, 0.8);

      .name-clinic {
        h1 {
          font-size: 28px;
          color: rgb(40, 49, 63);
        }
      }

      .address-clinic {
        font-size: 18px;
        color: rgb(40, 49, 63);
        font-weight: 400;
      }

      @include smalldevices {
        .name-clinic {
          h1 {
            font-size: 20px;
          }
        }

        .address-clinic {
          font-size: 12px;
        }
      }

      @include mobile {
        .name-clinic {
          h1 {
            font-size: 24px;
          }
        }

        .address-clinic {
          font-size: 14px;
        }
      }

      @include tablet {
        .name-clinic {
          h1 {
            font-size: 26px;
          }
        }

        .address-clinic {
          font-size: 16px;
        }
      }
    }

    .sticky-menu {
      position: sticky;
      top: 0;

      .menu-clinic {
        box-shadow: rgba(32, 33, 36, 0.28) 0px 2px 6px;
        padding: 5px 20px;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);
        margin-bottom: 10px;

        a {
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: rgb(40, 49, 63);
          text-decoration: none;

          &:hover {
            color: rgb(51, 122, 183);
          }
        }

        @include smalldevices {
          padding: 5px 5px;

          a {
            font-size: 8px;
          }
        }

        @include mobile {
          a {
            font-size: 8px;
          }
        }

        @include tablet {
          a {
            font-size: 12px;
          }
        }
      }
    }

    .title-detail {
      font-size: 24px;
      font-weight: bold;
      color: rgb(51, 122, 183);
      padding: 10px 0;
      margin: 20px 0 10px 0;
    }

    .description-clinic {
      padding: 20px 0;
      color: inherit;
      font-family: inherit;
      text-align: justify;
      line-height: 1.7;

      h2 {
        font-size: 20px;
      }

      h2,
      h3 {
        font-weight: bold;
      }

      h3,
      p {
        font-size: 14px;
      }

      .text-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .search-clinic-doctor {
      margin: 10px 0;

      .select-province {
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        border-radius: 5px;
        border-color: #ccc;
      }
    }

    .general-container {
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto;

      @include smalldevices {
        width: 340px;
      }

      @include mobile {
        width: 508px;
      }

      @include tablet {
        width: 708px;
      }

      @include desktop {
        width: 1080px;
      }
    }
    .content-clinic {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      border-radius: 8px;
      border-bottom: none;
      margin-bottom: 10px;

      .detail-doctor {
        padding: 15px;
      }

      .extra-infor-doctor {
        border-left: 1px solid #eee;
        padding: 15px;

        .schedule-doctor {
        }

        .fee-address-doctor {
          border-top: 1px solid #eee;
          padding-top: 10px;
          margin-top: 10px;
        }
      }

      @include desktop {
        flex-direction: row;
        gap: 15px;

        .detail-doctor {
          width: 50%;
        }

        .extra-infor-doctor {
          width: 50%;
        }
      }
    }
  }
}
