.address-doctor {
  .text-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
    font-weight: bold;
  }

  .btn-showOn {
    margin-left: 5px;
  }

  .btn-showOn,
  .btn-showOff {
    cursor: pointer;
    color: #45c3d2;
  }

  .clinic-address {
    .name-clinic {
      font-weight: bold;
    }
    .name-clinic,
    .address {
      font-size: 13px;
      padding: 3px 0;
    }
  }

  .fee {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;

    .price-approx {
      margin-left: 5px;
    }

    .currency-vnd::after {
      content: "đ";
      vertical-align: super;
      font-size: smaller;
    }

    .container-fee {
      margin: 10px 0;

      .detail-fee {
        border: 1px solid #ddd;
        background-color: #f8f8f8;
        padding: 3px;
        margin-top: 10px;
        color: #666;

        .price {
          font-weight: 550;
          .right {
            float: right;
          }
        }

        .note {
          font-size: smaller;
        }
      }

      .payment {
        border: 1px solid #ddd;
        border-top: none;
        padding: 8px 3px 3px 3px;
        background-color: #eee;
      }
    }
  }

  .insurance {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;

    .container-insurance {
      .detail-insurance {
        border: 1px solid #ddd;
        background-color: #f8f8f8;
        padding: 3px;
        margin-top: 10px;
        color: #666;

        .price {
          font-weight: 550;
          .right {
            float: right;
          }
        }
      }
    }
  }
}
