@import "../../../../styles/mixins";

.all-doctor-container {
  .goBack {
    background-color: #45c3d2;
    position: sticky;
    top: 0;
    z-index: 1000;

    .flex-back {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      i {
        font-size: 20px;
        padding: 10px 0;
        color: #fff;
        cursor: pointer;
      }
      span {
        color: #fff;
        font-size: 14px;

        i {
          font-size: 16px;
        }
      }

      .bd-l-r {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding: 0 5px;
      }
    }
  }

  .general-container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @include smalldevices {
      width: 340px;
    }

    @include mobile {
      width: 508px;
    }

    @include tablet {
      width: 708px;
    }

    @include desktop {
      width: 1080px;
    }

    h1 {
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0;
    }

    .detail-all-doctor {
      display: flex;
      flex-direction: column;
      .text-view {
        color: rgba(0, 0, 0, 1);
        text-decoration: none;

        &:hover {
          opacity: 0.8;
          background-color: #ddd;
        }
      }

      .item-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid rgb(204, 204, 204);

        .img-doctor {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 105px;
          width: 105px;
        }

        .text-column {
          display: flex;
          flex-direction: column;
          gap: 5px;

          & span:first-child {
            font-size: 14px;
            font-weight: 500;
          }

          & span:last-child {
            font-size: 12px;
            font-style: italic;
          }
        }

        @include smalldevices {
          .img-doctor {
            height: 80px;
            width: 80px;
          }

          .text-column {
            width: 100px;
            & span:first-child {
              font-size: 12px;
            }

            & span:last-child {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
