.profile-doctor {
  .intro-doctor {
    display: flex;

    .content-left {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #eee;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 0 auto;
    }
    .content-right {
      width: 90%;
      padding-left: 15px;
      display: flex;
      flex-direction: column;

      .title-doctor {
        margin-bottom: 10px;
        font-weight: bold;
        color: #337ab7;
      }

      .description-doctor {
        color: #555;
        font-size: 13px;

        .booking-date::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}
