.profile-doctor {
  .intro-doctor {
    display: flex;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;

      .avatar-doctor {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 0 auto;
      }

      .view-detail-doctor {
        .text-view {
          color: #45c3d2;
          text-decoration: none;
        }
      }
    }
    .content-right {
      width: 90%;
      padding-left: 15px;
      display: flex;
      flex-direction: column;

      .title-doctor {
        margin-bottom: 10px;
        font-weight: bold;
        color: #337ab7;
      }

      .description-doctor {
        margin: 5px 0;

        .booking-date::first-letter {
          text-transform: capitalize;
        }
      }

      .description-doctor,
      .location {
        color: #555;
        font-size: 13px;
      }

      .location {
        i {
          font-size: smaller;
          margin-right: 5px;
        }
      }
    }
  }
}
