.booking-modal-container {
  .booking-modal-content {
    display: flex;
    flex-direction: column;

    .booking-modal-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background: #f6f6f6;

      .left {
        font-size: 14px;
        color: #333;

        .booking-title {
          font-weight: bold;
        }

        .doctor-infor {
          margin: 10px 0;
        }
      }

      .right {
        cursor: pointer;

        i {
          font-size: larger;
        }
      }
    }

    .booking-modal-body {
      height: 100%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 10px;

      .booking-row {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;

        .booking-item {
          display: flex;
          flex-direction: column;
        }

        .booking-item.reason {
          grid-column: 1/3;
        }
      }

      .priceModal {
        margin-top: 10px;
        padding: 15px;
        background: #f6f6f6;

        .price-title {
          font-weight: 500;
        }

        .price-approx {
          margin-left: 10px;
          color: rgb(254, 56, 52);
        }

        .currency-vnd::after {
          content: "đ";
          vertical-align: super;
          font-size: smaller;
        }
      }
    }

    .booking-modal-footer {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      button {
        border: none;
        padding: 5px 8px;
      }

      .btn-confirm {
        background-color: #ffc419;
        color: #fff;
      }

      .btn-cancel {
        background-color: #ccc;
        color: #333;
      }

      .btn-confirm,
      .btn-cancel {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
