.container.manage-shedule {
  .m-s-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin: 15px 0;
  }

  .manage-shedule-body {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;

    .select-doctor {
    }

    .select-date {
    }

    .pick-hour {
      grid-column: 1/-1;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .btn-schedule {
        padding: 5px 15px;
        border: 1px solid red;
      }
    }

    .btn-schedule {
      &.active {
        background-color: coral;
      }
    }
  }
}
