.remedy-modal-container {
  .modal-header {
    justify-content: space-between;

    .close {
      padding: 0 5px;
    }
  }

  .remedy-content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;

    .email-patient {
    }

    .email-patient,
    .file-remedy {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
