@import "../../../../styles/mixins";

.about {
  padding: 30px 0 !important;
  background-color: #eee !important;
  border-top: 1px solid #ddd;

  .content-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 10px;

    .info-company {
      // width: 0%;

      .about-logo {
        max-width: 200px;
        margin-bottom: 20px;

        .logo {
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            width: 40px;
          }

          span {
            font-size: 16px;
            color: orange;
          }
        }
      }

      .about-company {
        h2 {
          font-weight: bold;
        }
        h2,
        p {
          font-size: 12px;
          margin-bottom: 10px;
        }
      }

      .certification {
        margin-bottom: 10px;

        img {
          height: 40px;
          max-width: 15%;
        }
      }

      .contact {
        .ct-content {
          font-size: 12px;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          .title-ct {
            font-weight: bold;
          }
        }
      }
    }

    .more-info {
      // width: 25%;

      ul {
        list-style: none;
        margin: 0px 0px 10px 0;
        padding: 0;

        li {
          padding: 5px 0;

          a {
            color: #45c3d2;
            text-decoration: none;
          }
        }
      }
    }

    .partner {
      font-size: 12px;
      // width: 30%;

      .title-pt {
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 0px 0px 10px 0;
        padding: 0;

        li {
          padding: 5px 0;

          a {
            display: flex;
            gap: 5px;
            color: #333;
            text-decoration: none;
            align-items: center;
            padding: 5px 0;

            img {
              height: 50px;
              width: 50px;
              object-fit: contain;
            }

            .pt-detail {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }
        }
      }
    }

    @include smalldevices {
      .info-company {
        .about-logo {
          .logo {
            img {
              width: 30px;
            }

            span {
              font-size: 15px;
            }
          }
        }
      }
    }

    @include tablet {
      flex-direction: row;

      .info-company {
        .about-logo {
          .logo {
            img {
              width: 40px;
            }

            span {
              font-size: 18px;
            }
          }
        }
      }

      .partner {
        ul {
          li {
            a {
              img {
                height: 60px;
                width: 60px;
                object-fit: fill;
              }
            }
          }
        }
      }
    }

    @include desktop {
      flex-direction: row;

      .info-company {
        .about-logo {
          .logo {
            img {
              width: 50px;
            }

            span {
              font-size: 20px;
            }
          }
        }
      }

      .partner {
        ul {
          li {
            a {
              img {
                height: 70px;
                width: 70px;
                object-fit: fill;
              }
            }
          }
        }
      }
    }
  }
}
