.hand-book {
  .section-img-row {
    // padding-right: 1px;
    margin: 5px;

    img {
      height: 150px;
      width: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #eee;
    }

    .text-content {
      // text-align: justify;
      line-height: 1.7;
      padding-right: 10px;
    }
  }
}
