@import "../../../../styles/mixins";

.media {
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: max-content;

    .content-left {
      height: 320px;
      width: 100%;
    }

    .content-right {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      width: 100%;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        background-color: #ddd;
        border-radius: 10px;

        .media-icon {
          width: 60%;
          height: 60%;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }

    @include desktop {
      flex-direction: row;

      .content-left {
        width: 50%;
      }

      .content-right {
        width: 50%;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
