.doctor-detail-container {
  height: 300px;
  margin: 0 280px;

  .intro-doctor {
    display: flex;

    .content-left {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #eee;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      margin: 0 auto;
    }

    .content-right {
      width: 90%;
      padding-left: 15px;
      display: flex;
      flex-direction: column;

      .title-doctor {
        padding-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .description-doctor {
      }
    }
  }
}
