.manage-doctor-container {
  margin: 0 10px;

  .manage-doctor-title {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
  }

  .more-info {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    gap: 20px;

    .select-doctor {
      grid-column: 1 / span 1;
    }

    .intro-doctor {
      grid-column: 2 / span 3;
    }

    .price {
    }

    .payment {
    }

    .province {
    }

    .clinic {
      display: flex;
      flex-direction: column;
    }

    .clinic-address {
      display: flex;
      flex-direction: column;
    }

    .note {
      display: flex;
      flex-direction: column;
    }
  }

  .manage-doctor-editor {
    margin: 20px 0;
  }

  .edit-content-doctor {
    background-color: orange;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .create-content-doctor {
    background-color: blue;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
