.home-header-container {
  height: 70px;
  width: 100%;
  padding: 10px 0;

  &.sticky-md-top {
    background-color: #fff;
  }

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 280px;

    .left-content {
      display: flex;
      width: 25%;
      align-items: center;
      gap: 10px;

      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }

      .header-logo {
        // background: url("../../assets/images/bookingcare-2020.svg") center center no-repeat;
        // height: 40px;
        // width: 160px;
        cursor: pointer;

        img {
          height: 40px;
          width: 160px;
        }
      }
    }

    .center-content {
      display: flex;
      width: 50%;
      justify-content: space-between;
      align-items: center;

      .child-content {
        cursor: pointer;

        .subs-title {
          font-size: 12px;
        }
        .subs-content {
          font-weight: 400;
          font-size: 10px;
        }
      }
    }

    .right-content {
      display: flex;
      width: 25%;
      align-items: center;
      justify-content: flex-end;

      .support {
        margin-right: 20px;
        cursor: pointer;

        i {
          font-size: 15px;
        }
      }

      .lang-vi {
        opacity: 0.2;
        cursor: pointer;
        &.active,
        &:hover {
          opacity: 1;
          span {
            color: orange;
          }
        }
      }

      .lang-en {
        margin-left: 10px;
        opacity: 0.2;
        cursor: pointer;
        &.active,
        &:hover {
          opacity: 1;
          span {
            color: blue;
          }
        }
      }
    }
  }
}

.home-header-banner {
  background-image: url("../../assets/images/bookingcare-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .content-up {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
    height: 70%;
    padding-top: 45px;

    .title1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      color: #fff;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 5px;
      margin-top: 30px;
      outline: none;
    }

    .title2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 20px;
      outline: none;
    }

    .search {
      display: flex;
      border-radius: 25px;
      width: fit-content;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      background: #f7d800;

      i {
        margin: 0 5px;
      }

      input {
        height: 20px;
        width: 370px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .content-down {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .options {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      align-items: center;

      .option-child {
        height: 100px;
        width: 100px;
        cursor: pointer;

        i {
          font-size: 22px;
          color: #49bce2;
        }
        .icon-child {
          background: #fff;
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
        }

        .text-child {
          font-size: 16px;
          font-weight: bold;

          &:hover {
            color: #49bce2;
          }
        }
      }
    }
  }
}
