* {
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.section-general {
  // height: 330px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 3px solid #efeef5;

  &.section-general:nth-child(odd) {
    background: #f5f5f5;
  }

  &.section-general:nth-child(even) {
    background: #fff;
  }

  .section-cotainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    .section-header {
      padding-top: 15px;
      margin-bottom: 20px;

      span {
        font-size: 24px;
        font-weight: bold;
      }

      button {
        float: right;
        padding: 10px 15px;
        font-size: 11px;
        border: none;
        outline: none;
        display: block;
        background: #ebebee;
        color: #202536;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          color: #fff;
          background-color: #f7d800;
        }
      }
    }

    .section-content {
      .section-img {
        width: 255px !important;
        margin: 5px;
        position: relative;
        color: #111;

        &:hover {
          cursor: pointer;
          color: #45c3d2;
        }

        .img-customize {
          height: 150px;
          width: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
        }

        .text-img {
          font-size: 12px;
          padding: 5px 0;
        }
      }

      .section-img-row {
        display: flex !important;
        gap: 10px;
        width: 100%;

        &:hover {
          cursor: pointer;
          color: #45c3d2;
        }

        .img-customize {
          height: 150px;
          width: 50%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
        }
      }
    }
  }

  // reset css slick slide
  .slick-prev {
    left: 0;
    top: 50%;
    transform: translate(25%, -50%);
    z-index: 999 !important;

    &:hover {
      background: #f5f5f5;
    }
  }

  .slick-prev:before {
    content: "\e2ea" !important;
    color: #959595 !important;
    font-size: 20px;
  }

  .slick-next {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 999 !important;

    &:hover {
      background: #f5f5f5;
    }
  }
  .slick-next:before {
    content: "\e5e1" !important;
    color: #959595 !important;
    font-size: 20px;
  }

  .slick-next.slick-disabled:before {
    opacity: 0;
    border-color: transparent;
    color: transparent !important;
  }

  .slick-prev,
  .slick-next {
    height: 20px;
    width: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .slick-arrow:before {
    font-family: "Material Symbols Outlined" !important;
    font-style: normal;
    font-weight: 400;
    background: #fff;
    border: 2px solid #d7d7d7;
    padding: 8px;
    text-align: center;
    // color: #959595 !important;
  }
  .slick-disabled {
    display: none !important;
  }
}
