@import "../../styles/mixins";

.support {
  .goBack {
    background-color: #45c3d2;
    position: sticky;
    top: 0;
    z-index: 1000;

    .flex-row {
      display: flex;
      align-items: center;
      gap: 20px;

      i {
        font-size: 20px;
        padding: 5px 0;
        color: #fff;
        cursor: pointer;
      }

      span {
        color: #fff;
      }
    }

    .general-container {
      padding: 0 15px;
      margin: 0 auto;

      @include smalldevices {
        width: 340px;
      }

      @include mobile {
        width: 508px;
      }

      @include tablet {
        width: 708px;
      }

      @include desktop {
        width: 1080px;
      }
    }
  }

  h1 {
    font-size: 18px;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .content-support {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    @include smalldevices {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }

    a:first-child {
      display: flex;
      align-items: center;
      gap: 20px;

      &:hover {
        opacity: 0.8;
      }

      span {
        background-color: #0a7cff;
        border-radius: 8px;
        padding: 10px 8px 10px 8px;
        color: white;

        &::after {
          content: "";
          position: absolute;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-left: 16px solid #0a7cff;
        }
      }
    }

    svg:hover {
      stroke: rgba($color: #000000, $alpha: 0.3);
    }

    i {
      font-size: 84px;
    }
  }
}
